apiVersion: postgresql.cnpg.io/v1
kind: Cluster

metadata:
  name: test

spec:
  imageName: docker.io/archismanmridha/custom-postgres:17.0

  instances: 1

  storage:
    size: 100Mi

  postgresql:
    shared_preload_libraries:
      - citus

    # # The following needs atleast Postgres v18.0.
    #
    # # CloudNativePG supports the dynamic loading of PostgreSQL extensions into a Cluster at Pod
    # # startup using the Kubernetes ImageVolume feature and the extension_control_path GUC
    # # introduced in PostgreSQL 18.
    # #
    # # This feature allows you to mount a PostgreSQL extension, packaged as an OCI-compliant
    # # container image, as a read-only and immutable volume inside a running pod at a known
    # # filesystem path.
    # #
    # # You can make the extension available globally, using the shared_preload_libraries option.
    # #
    # # By default, CloudNativePG automatically manages the relevant GUCs, setting :
    # #
    # #   (1) extension_control_path to /extensions/<EXTENSION_NAME>/share, allowing PostgreSQL to
    # #       locate any extension control file within /extensions/<EXTENSION_NAME>/share/extension.
    # #
    # #   (2) dynamic_library_path to /extensions/<EXTENSION_NAME>/lib.
    # #
    # # NOTE : The major PostgreSQL version must be the one, against which the Postgres extension was
    # #        intended.
    # extensions:
    #   - name: citus
    #     version: "13.0"
    #     image:
    #       reference: ghcr.io/archisman-mridha/postgres-17-citus-extension-13.0
